<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

    jsonData="";

      $.ajax({
        url: "{% url 'yearTong' customerDetail.name 2013 %}",
        success: function(result){
            jsonData = result;
        },
      });

      function drawChart() {
        var data = google.visualization.arrayToDataTable(jsonData);

        var options = {
          title: 'Statistics',
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>

<div>
    <div>
        <h1>{{ customerDetail.name }}<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="deleteCustomer.call(this, '{{ customerDetail.name }}');">x</button></h1><hr />
    </div>
    <div>
        <table class="table table-bordered" style="width: 100%;">
            <tr>
                <th>기본 정보</th>
            </tr>
            <tr>
                <th>서비스번호</th>
                <td>{{ customerDetail.serviceNumber }}</td>
                <th>서비스명</th>
                <td>{{ customerDetail.serviceName }}</td>
                <th>상세서비스</th>
                <td>{{ customerDetail.detailedServiceName }}</td>
            </tr>
            <tr>
                <th>개통일</th>
                <td><span class="time">{{ customerDetail.date|date:"c" }}</span></td>
                <th>위치</th>
                <td>{{ customerDetail.position }}</td>
                <th>고객폴더</th>
                <td>{{ customerDetail.dataFolder }}</td>
            </tr>
            <tr>
                <th>작업자</th>
                <td>{% for i in customerDetail.workers.all %}<a href="{% url 'userDetail' i.username %}">{{ i.userprofile.name }}</a>{% endfor %}</td>
                <th>담당영업</th>
                <td>{% for i in customerDetail.salespersons.all %}<a href="{% url 'userDetail' i.username %}">{{ i.userprofile.name }}</a>{% endfor %}</td>
                <th>비고</th>
                <td>aa</td>
            </tr>
        </table>
        <div class="row">
            <div class="span3">
                <div id="personInCharge">
                    <div class="customerDetailViewBox">
                        <div class="customerDetailViewTitle">
                            담당자 목록
                        </div>
                        <div class="customerDetailViewList">
                            <ul class="customerDetailViewList unstyled"></ul>
                        </div>
                        <div class="more" data-kind="personInCharges" data-column="pk" data-startingPoint="top" data-sort="asc">
                            <a>더보기</a>
                        </div>
                        <div class="addCustomerPersonInCharges">
                            <form method="post" style="margin-bottom: 0" action="/" class="form-inline">
                                <ul class="unstyled form">
                                    <li>{{ form.personInChargesName }}</li>
                                    <li>{{ form.personInChargesTel }}</li>
                                    <li>{{ form.personInChargesMobile }}</li>
                                    <li>{{ form.personInChargesEmail }}</li>
                                    <li><button class="btn btn-mini" type="submit">추가</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div id="equipment">
                    <div class="customerDetailViewBox">
                        <div class="customerDetailViewTitle">
                            장비 목록
                        </div>
                        <div class="customerDetailViewList">
                            <ul class="customerDetailViewList unstyled"></ul>
                        </div>
                        <div class="more" data-kind="equipments" data-column="pk" data-startingPoint="top" data-sort="asc">
                            <a>더보기</a>
                        </div>
                        <div class="addCustomerEquipments">
                            <form method="post" style="margin-bottom: 0" action="/" class="form-inline">
                                <ul class="unstyled form">
                                    <li>{{ form.equipmentsNo }}</li>
                                    <li>{{ form.equipmentsType }}</li>
                                    <li><input type="text" name="equipmentsIpaddr" placeholder="IP"></li>
                                    <li><input type="text" name="equipmentsNote" placeholder="메모"></li>
                                    <li><button class="btn btn-mini" type="submit">추가</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div id="domainList">
                    <div class="customerDetailViewBox">
                        <div class="customerDetailViewTitle">
                            도메인 목록
                        </div>
                        <div class="customerDetailViewList">
                            <ul class="customerDetailViewList unstyled"></ul>
                        </div>
                        <div class="more" data-kind="domains" data-column="pk" data-startingPoint="top" data-sort="asc">
                            <a>더보기</a>
                        </div>
                        <div class="addCustomerDomains">
                            <form method="post" style="margin-bottom: 0" action="/" class="form-inline">
                                <ul class="unstyled form">
                                    <li><input type="text" name="domains" placeholder="URL"></li>
                                    <li><input type="text" name="domainsNote" placeholder="메모">  </li>  
                                    <li><button class="btn btn-mini" type="submit">추가</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div id="ipaddrList">
                    <div class="customerDetailViewBox">
                        <div class="customerDetailViewTitle">
                            IP 목록
                        </div>
                        <div class="customerDetailViewList">
                            <ul class="customerDetailViewList unstyled"></ul>
                        </div>
                        <div class="more" data-kind="ipaddrs" data-column="addr" data-startingPoint="top" data-sort="asc">
                            <a>더보기</a>
                        </div>
                        <div class="addCustomerIPaddrs">
                            <form method="post" style="margin-bottom: 0" action="/" class="form-inline">
                                <ul class="unstyled form">
                                    <li><input type="text" name="ip" placeholder="IP주소"></li>
                                    <li><input type="text" name="note" placeholder="메모"></li>
                                    <li><button class="btn btn-mini" type="submit">추가</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="note">
            <div class="customerDetailViewBox">
                <div class="customerDetailViewTitle">
                    이력사항
                </div>
                <div class="more" data-kind="history" data-column="pk" data-startingPoint="bottom" data-sort="asc">
                    <a>더보기</a>
                </div>
                <div class="customerDetailViewList">
                    <ul class="customerDetailViewList unstyled"></ul>
                </div>
                <div class="addCustomerNotes">
                    <form method="post" style="margin-bottom: 0" action="/" class="form-inline">
                        <textarea name="notes" placeholder="내용" style="width:714px; height:35px;"></textarea>
                        <button class="btn btn-mini" type="submit">추가</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="customerDetailViewBox">
                <div class="customerDetailViewTitle">
                    침입탐지이력
                </div>
                <div class="more" data-kind="responsingattackdetection_set" data-column="pk" data-startingPoint="bottom" data-sort="asc">
                    <a>더보기</a>
                </div>
                <div class="customerDetailViewList">
                    <ul class="customerDetailViewList unstyled"></ul>
                </div>
            </div>
        </div>
        <div id="chart" style="width: 900px; height: 500px;"></div>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">오류</h3>
    </div>
    <div class="modal-body">
        <p>IP주소가 잘못되었습니다.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<script type="text/javascript">
    var customerNoteURL = "{% url 'addCustomerNotes' customerDetail.name %}";
    var customerIPaddrURL = "{% url 'addCustomerIPaddrs' customerDetail.name %}";
    var listViewURL = "{% url 'listing' customerDetail.name %}";
    var customerDomainURL = "{% url 'actionCustomerDomains' customerDetail.name %}";
    var customerEquipmentURL = "{% url 'actionCustomerEquipments' customerDetail.name %}";
    var customerPersonInChargeURL = "{% url 'actionCustomerPersonInCharges' customerDetail.name %}";
    var customerIpDetailURL = "{% url 'ipDetail' %}";
</script>
<script type="text/javascript" src="/siteMedia/customerDetailView.js?a=14"></script>