{% extends "base.html" %}
{% block title %}고객등록{% endblock %}
{% block content %}
<div class="row">
	<div class="span2">
		<div id="pic"><img src="http://i1.daumcdn.net/cfs.tistory/static/admin/editor/renew/sicon_org.gif"
		class="img-polaroid"></div>
		<div id="username" style="padding-bottom:20px; padding-top:20px;">
			<strong>{{ user.get_profile.name }}({{ user.username }})</strong>님, 입장.
		</div>
		<ul class="nav nav-pills nav-stacked">
			<li><a tabindex="-1" href="{% url crm.views.mainPage %}">뉴스피드</a></li>
			<li class="active"><a tabindex="-1" href="{% url customer %}">고객관리</a></li>
			<li><a tabindex="-1" href="#">침입탐지대응</a></li>
			<div class="btn-group">
				<button class="btn" onclick="location.href='{% url todayWork %}'">근무일지</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<input type="date" name="bday">
				</ul>
			</div>
		</ul>
	</div>
	<div class="span10">
		{% include "customerList.html" %}
	</div>
</div>

<script type="text/javascript">
		var userSearch = "{% url crm.views.searchUser %}"
</script>
<script type="text/javascript" src="/siteMedia/userAutocomplete.js">
</script>
<script type="text/javascript" src="/siteMedia/jquery.autocomplete.js">
</script>
<script type="text/javascript" src="/siteMedia/textareaAutoResize/jquery.autosize.js">
</script>
<link rel="stylesheet" href="/siteMedia/jquery.autocomplete.css"
type="text/css" />
{% endblock %}
{% block head %}
	<script type="text/javascript">
		var workDailyRecord = "{% url todayWork %}"
	</script>
	<script type="text/javascript" src="/siteMedia/workDailyRecord.js">
	</script>
{% endblock %}