<div>
	<div>
		<h1>고객관리<button class="btn btn-mini" type="button" onclick="location.href='{% url 'crm.views.customerRegistration' %}'">고객 등록</button></h1><hr>
	</div>
	<div>
		<table class="table table-hover">
			<tr>
				<th>고객사 이름</th>
				<th>장비1</th>
				<th>장비2</th>
				<th>담당자</th>
				<th>연락처</th>
				<th>폴더</th>
			</tr>
			{% for cl in customerList %}
				<tr>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">{{ cl.name }}</a>
					</td>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">
							{{ cl.equipments.all.0.ipaddr.addr }}
						</a>
					</td>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">
							{{ cl.equipments.all.1.ipaddr.addr }}
						</a>
					</td>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">
							{{ cl.personInCharges.all.0.name }}
						</a>
					</td>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">
							{{ cl.personInCharges.all.0.mobile1 }}
						</a>
					</td>
					<td>
						<a href="{% url 'customerDetailView' cl.name %}">
							{{ cl.dataFolder }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>