<div>
	<div>
		<h1>{{ customerDetail.name }}</h1><hr>
	</div>
	<div>
		<table class="table table-bordered" style="width: 100%;">
			<tr>
				<td>서비스번호</td>
				<th>{{ customerDetail.serviceNumber }}</th>
				<td>서비스명</td>
				<th>{{ customerDetail.serviceName }}</th>
				<td>상세서비스</td>
				<th>{{ customerDetail.detailedServiceName }}</th>
			</tr>
			<tr>
				<td>개통일</td>
				<th>{{ customerDetail.date }}</th>
				<td>위치</td>
				<th>{{ customerDetail.position }}</th>
				<td>고객폴더</td>
				<th>{{ customerDetail.dataFolder }}</th>
			</tr>
			<tr>
				<td>작업자</td>
				<th>{% for i in customerDetail.workers.all %}{{ i.userprofile.name }}{% endfor %}</th>
				<td>담당영업</td>
				<th>{% for i in customerDetail.salespersons.all %}{{ i.userprofile.name }}{% endfor %}</th>
				<td>비고</td>
				<th>aa</th>
			</tr>
		</table>
		<table class="table table-bordered" style="width: 100%;">
			<tr>
				<td>IP 목록</td>
			</tr>
				{% for i in customerDetail.ipaddrs.all %}
					<tr>
						<th>{{ i.addr }} - {{ i.notes.all.0.contents }}</th>
					</tr>
				{% endfor %}
		</table>
		<table class="table table-bordered" style="width: 100%;">
			<tr>
				<td>이력사항</td>
			</tr>
				{% for i in customerDetail.notes.all %}
					<tr>
						<th>({{ i.date }}) {{ i.contents }} <font color=#0000FF>[{{ i.writer }}]</font></th>
					</tr>
				{% endfor %}
		</table>
	</div>
</div>