<div>
	<div>
		<h1>메세지<button class="btn btn-mini" type="button" onclick="location.href='#'">메세지 등록</button></h1><hr>
	</div>
	<div>
		<table class="table table-hover">
			{% for ml in MessageListView %}
				{% if user in ml.participant.all %}
				<tr onclick="location.href='{% url messageDetail ml.pk %}'" onmouseover="style.cursor='pointer';">
					<td>{{ ml.subject }}</td>
					<td>{% if ml.isRead %}V{% endif %}</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>