<div>
	<div class="page-header">
		<h1>근무일지</h1>
	</div>
	<div>
		{% include "workDailyRecordForm.html" %}
		<table class="table table-hover">
		{% for wdr in workDailyRecord %}
			<tr><td style="word-break:break-all; line-height:200%;">{% if wdr.ongoing_or_end == 'end' %}<del>{% endif %}({{ wdr.date }})
			<strong>{{ wdr.contents }}</strong><font color=#0000FF>
			[{{ wdr.user.get_profile.name }}]</font>{% if wdr.ongoing_or_end == 'end' %}</del>{% endif %}
			<button class="btn btn-mini" type="button" id="workDailyRecord-edit" name="{{ wdr.pk }}">수정</button>
			<button class="btn btn-mini" type="button" id="workDailyRecord-del" name="{{ wdr.pk }}">삭제</button>
			{% if wdr.ongoing_or_end == 'ing' %}{% if user in wdr.check_user.all %}<button id="workDailyRecord-check" class="btn btn-mini" type="button" name="{{ wdr.pk }}">확인</button>{% elif user in wdr.target_user.all %}<button id="workDailyRecord-check" class="btn btn-mini btn-success" type="button" name="{{ wdr.pk }}">확인</button>{% endif %}{% endif %}</td></tr>
		{% endfor %}
		</table>
		{% include "workDailyRecordForm.html" %}
	</div>
</div>