<div>
	<div>
		<h1>침입탐지대응<button class="btn btn-mini" type="button" onclick="location.href='{% url responsingAttackDetectionNew %}'">추가</button></h1><hr>
	</div>
	<div>
		<table class="table table-hover">
			<tr>
				<th>종류</th>
				<th>고객사</th>
				<th>공격자</th>
				<th>희생자</th>
			</tr>
			{% for rl in responsingAttackDetection %}
				<tr>
					<td>
						<a href="{% url responsingAttackDetectionDetail rl.slug %}">{% for i in rl.kinds %}{% if rl.kind == i.0 %}{{ i.1 }}{% endif %}{% endfor %}</a>
					</td>
					<td>
						<a href="{% url responsingAttackDetectionDetail rl.slug %}">
							{{ rl.customer.name }}
						</a>
					</td>
					<td>
						<a href="{% url responsingAttackDetectionDetail rl.slug %}">
							{{ rl.attackerIp.addr }}
						</a>
					</td>
					<td>
						<a href="{% url responsingAttackDetectionDetail rl.slug %}">
							{{ rl.victimIp.addr }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>