div.customerDetailViewTitle{
	padding: 8px;
	font-weight: bold;
	border-bottom: 3px double #dddddd;
	background-color: #85E085;
}

div.more{
	text-align: center;
	border-bottom: 1px solid #dddddd;
	font-size: 20px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
}

li.customerDetailViewList{
	padding: 8px;
	border-bottom: 1px solid #dddddd;
}

ul.customerDetailViewList{
	padding: 0px;
	border-bottom: 0px;
	margin: 0px;
}

div.addCustomerNotes{
	padding: 8px;
	text-align: center;
}

div.customerDetailViewBox{
	width: 100%;
	border:2px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 5px;
}

span.name{
	color: #0000FF;
}

span.contents{
	margin-left: 5px;
	margin-right: 5px;
}

div{
	word-break: break-all;
}